<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Registrar nuevo usuario</title>
</head>
<body>
    <div class="container">
        <div>
            <label for="correo" class="title">REGISTRARSE</label><br><br>
            <form action="../../controller/UsuarioController.php" method="POST">
                <label for="nombre">Nombre(s):</label>
                <input type="text" name="nombre" id="nombre" required>
                <label for="correo">Correo:</label>
                <input type="email" name="correo" id="correo" required>
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="password" id="contraseña" required>
                <label for="dni">DNI:</label>
                <input type="number" name="dni" id="dni" required>
                <button type="submit">Registrar Usuario</button>
            </form>
        </div>
        <a href="../login/login.html">Iniciar Sesión</a>
</body>
</html>